<p>Привіт, {{name}}</p>
<p>Нам надійшов запит на відновлення паролю.</p>
<p>Перейдіть за посиланням нижче для продовження.</p>
<p>
  <a
    href='{{url}}'
    style='width: 291px;
height: 64px;
padding: 14px 24px; text-decoration: none; border-radius: 5px;
background: #4285F4;
color: #F5F5F5;'
  >Змінити пароль</a>
</p>
<p>Не надавайте цей лист стороннім особам</p>
<p>Якщо ви не надсилали запит то зв'яжіться з нами і попередьте про підозрілі
  дії.</p>